.jumbotron{
    background-image: url("../../assets/imagenes/mapa.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.boton{
    background-color:rgb(10, 34, 51);
    width: 220px;
    color: aliceblue;
    float: right;
    border-color: rgb(10, 34, 51)
}

.boton1{
    background-color:rgb(10, 34, 51);
    width: 220px;
    height: 45px;
    color: aliceblue;
    float: left;
    border-color: rgb(10, 34, 51)
}

.boton2{
    border-color: transparent;
    background-color: transparent;
    width: 60px; 
    margin: 0 auto;
}

hr.new1{
    border: 1px solid black;
 
}

::ng-deep .ui-steps .ui-steps-item {
    width: 25%;
}

::ng-deep .ui-steps.steps-custom {
    margin-bottom: 30px;
}

::ng-deep .ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}

::ng-deep .ui-steps.steps-custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 36px;
    border-radius: 50%;
    margin-top: -14px;
    margin-bottom: 10px;
}

::ng-deep .ui-steps.steps-custom .ui-steps-item .ui-steps-title {
    color: #555555;
}