/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family-Raleway:300,700');
@import "~bootstrap/dist/css/bootstrap.min.css";


ul{
    list-style-type:none;
    margin: 0 0 2em 0;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 30px;
}

ul li a {
    font-size: 1.5em;
}

a{
    color: #fff;
    text-decoration: none;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.6;
    font-size: 16px;
    background: #fff;
    color: #848484;
    font-weight: 300;
    overflow-x: hidden;
  }

  .fh5co-cover,
  .fh5co-hero {
    position: relative;
    height: 400px;
  }
  @media screen and (max-width: 768px) {
    .fh5co-cover,
    .fh5co-hero {
      height: 700px;
    }
  }
  .fh5co-cover .fh5co-overlay,
  .fh5co-hero .fh5co-overlay {
    position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3e1c', endColorstr='#ff8c00', GradientType=1 );
  }
  
  .fh5co-cover {
    background-size: cover;
    position: relative;
  }
  @media screen and (max-width: 768px) {
    .fh5co-cover {
      heifght: inherit;
      padding: 3em 0;
    }
  }
  .fh5co-cover .btn {
    padding: 1em 2em;
    opacity: .9;
  }
  .fh5co-cover.fh5co-cover_2 {
    height: 600px;
  }
  @media screen and (max-width: 768px) {
    .fh5co-cover.fh5co-cover_2 {
      heifght: inherit;
      padding: 3em 0;
    }
  }
  .fh5co-cover .desc {
    top: 40%;
    position: absolute;
    width: 100%;
    margin-top: -80px;
    z-index: 2;
    color: #fff;
  }
  @media screen and (max-width: 768px) {
    .fh5co-cover .desc {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .fh5co-cover .desc h2 {
    color: #fff;
    font-size: 60px;
    margin-bottom: 10px;
    font-weight: 400 !important;
  }
  @media screen and (max-width: 768px) {
    .fh5co-cover .desc h2 {
      font-size: 40px;
    }
  }
  .fh5co-cover .desc h3 {
    color: #fff;
  }
  .fh5co-cover .desc p {
    display: block;
    margin-bottom: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.7);
  }
  .fh5co-cover .desc p a {
    color: #fff;
  }
  .fh5co-cover .desc p a:hover, .fh5co-cover .desc p a:focus {
    color: #fff !important;
  }
  .fh5co-cover .desc p a:hover.btn, .fh5co-cover .desc p a:focus.btn {
    border: 2px solid #fff !important;
    background: transparent !important;
  }
  .fh5co-cover .desc p a.fh5co-site-name {
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  }
  .fh5co-cover .desc .price {
    font-size: 60px;
    font-weight: bold;
  }
  @media screen and (max-width: 768px) {
    .fh5co-cover .desc .desc2 {
      display: none;
    }
  }

  .tabulation {
    width: 100%;
    float: left;
    margin-top: -3em;
    background: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
    -ms-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
    -o-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
  }
  .tabulation label {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
  }
  @media screen and (max-width: 480px) {
    .tabulation label {
      width: 40%;
    }
  }
  .tabulation input[type="text"] {
    background: rgba(0, 0, 0, 0.05);
    border: none;
    box-shadow: none;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    color: #F78536 !important;
  }
  .tabulation input[type="text"]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #F78536 !important;
  }
  .tabulation input[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    color: #F78536 !important;
  }
  .tabulation input[type="text"]:-ms-input-placeholder {
    /* IE 10+ */
    color: #F78536 !important;
  }
  .tabulation input[type="text"]:-moz-placeholder {
    /* Firefox 18- */
    color: #F78536 !important;
  }
  @media screen and (max-width: 480px) {
    .tabulation input[type="text"] {
      width: 55%;
      float: right;
    }
  }
  @media screen and (max-width: 480px) {
    .tabulation .cs-select {
      width: 55%;
      float: right;
    }
  }

  .tab-content {
    padding: 30px;
  }
  .tab-content .btn {
    border: 1px solid red !important;
  }

  .tab-content .btn {
    letter-spacing: 0;
    text-transform: none;
    font-weight: bold;
    font-size: 18px;
  }

  .row-bottom-padded-lg {
    padding-bottom: 7em;
  }
  @media screen and (max-width: 768px) {
    .row-bottom-padded-lg {
      padding-bottom: 2em;
    }
  }
  
  .row-top-padded-lg {
    padding-top: 7em;
  }
  @media screen and (max-width: 768px) {
    .row-top-padded-lg {
      padding-top: 2em;
    }
  }
  
  .row-bottom-padded-md {
    padding-bottom: 4em;
  }
  @media screen and (max-width: 768px) {
    .row-bottom-padded-md {
      padding-bottom: 2em;
    }
  }
  
  .row-top-padded-md {
    padding-top: 4em;
  }
  @media screen and (max-width: 768px) {
    .row-top-padded-md {
      padding-top: 2em;
    }
  }
  
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
  @media screen and (max-width: 768px) {
    .row-bottom-padded-sm {
      padding-bottom: 2em;
    }
  }
  
  .row-top-padded-sm {
    padding-top: 2em;
  }
  @media screen and (max-width: 768px) {
    .row-top-padded-sm {
      padding-top: 2em;
    }
  }
  div.cs-select span {
    padding: 10px 10px;
  }
  .cs-skin-border .cs-selected > span::after {
    font-size: 14px !important;
  }
  .cs-select .cs-options {
    -webkit-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
    -ms-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
    -o-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
  }
  @media screen and (max-width: 480px) {
    .tabulation .cs-select {
      width: 55%;
      float: right;
    }
  }    
  
  