<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Paquetes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body >

    <div class="jumbotron card card-image" align="center">
        <div  class="backmenu col-xs-12 col-md-12 col-lg-12">
            <form class="text-left border border-light p-5">
  
             
  
            <div class="row">
              
                <div class="col-lg-4">
                    <h5>Tren de los Alpes Suizos</h5>
                  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Ook4V9U9dZw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  
                </div>

                <div class="col-lg-4" >
                  <h5>Crucero en las Islas del Caribe</h5>
                    
                  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/BlQnDUc6kXY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    
                </div>
                <div class="col-lg-4" >
                    <h5>Dubai, tu destino ideal</h5>
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/wJV-mXehgdw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    
                  
                  </div>
                
            </div>
          </form>
          </div>  
    </div>

  <div class="row" style="background-color:  rgba(241, 241, 241, 0.877)">

        <div class="col-lg-12">
 <!--Carousel Wrapper-->
 <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top" >
      <a class="btn" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
      <a class="btn" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="https://livedemo00.template-help.com/wt_52302/images/page1_img4.png"
                alt="Card image cap">
                <h4 class="card-title">Deportivos</h4>
                        <p class="card-text text-justify">Son un tipo de coche según su carrocería. El espacio interior integra en un solo volumen el compartimento de equipajes, el de pasajeros y el del motor.</p>
                        <a class="btn btn-primary">Button</a>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://livedemo00.template-help.com/wt_52302/images/page1_img2.png"
                alt="Card image cap">
                <h4 class="card-title">Desportivos</h4>
                        <p class="card-text text-justify">Un tipo de coche según su carrocería. El espacio interior integra en un solo volumen el compartimento de equipajes, el de pasajeros y el del motor.</p>
                        <a class="btn btn-primary">Button</a>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://livedemo00.template-help.com/wt_52302/images/page1_img5.png"
                alt="Card image cap">
                <h4 class="card-title">Deportivos</h4>
                        <p class="card-text  text-justify"> El espacio interior integra en un solo volumen el compartimento de equipajes, el de pasajeros y el del motor..</p><br/>
                        <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="https://livedemo00.template-help.com/wt_52302/images/page1_img6.png"
                alt="Card image cap">
                <h4 class="card-title">Formales</h4>
                        <p class="card-text text-justify"> Es un vehículo de dos volúmenes (el maletero y el habitáculo están comunicados).</p>
                        <br/><br/><a class="btn btn-primary">Button</a>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://livedemo00.template-help.com/wt_52302/images/page1_img7.png"
                alt="Card image cap">
                <h4 class="card-title text-justify">Formales</h4>
                        <p class="card-text text-justify">Los cabrios son un tipo de coche según su carrocería que se caracterizan por no tener techo o contar con una capota extraíble o plegable. Una variante es el cupé-cabrio cuyo techo metálico se pliega y se recoge sobre la parte trasera.</p>
                        <a class="btn btn-primary">Button</a>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://livedemo00.template-help.com/wt_52302/images/page1_img8.png"
                alt="Card image cap">
                <h4 class="card-title">Formales</h4>
                        <p class="card-text text-justify">Los roadster son un tipo de coche deportivo biplaza con carrocería descapotable y ligera. El término proviene del inglés y se utilizaba para describir a los antiguos deportivos descapotables.</p>
                        <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>

      </div>
      <!--/.Second slide-->

      <!--Third slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="https://livedemo00.template-help.com/wt_52302/images/page1_img9.png"
                alt="Card image cap">
                <h4 class="card-title">Formales</h4>
                        <p class="card-text text-justify">Es un tipo de vehículo pensado, en origen, para la circulación por terrenos difíciles: superficies de tierra, piedras, pendientes pronunciadas, con tracción a dos o más ejes.</p>
                        <a class="btn btn-primary">Button</a>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://livedemo00.template-help.com/wt_52302/images/page1_img10.png"
                alt="Card image cap">
                <h4 class="card-title">Formales</h4>
                        <p class="card-text text-justify">Con una apariencia similar a los todoterreno, los crossover son los reyes del asfalto. Incluyen características como barras frontales de protección o suspensión alta, propias de un todoterreno.</p>
                        <a class="btn btn-primary">Button</a>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://livedemo00.template-help.com/wt_52302/images/page1_img12.png"
                alt="Card image cap">
                <h4 class="card-title">Formales</h4>
                        <p class="card-text text-justify">Motores potentes, mayor velocidad máxima, mejor aceleración y adherencia. Los deportivos y superdeportivos son otro tipo de vehículo y el sueño de muchos. Suelen ser cupé o descapotable, además de biplazas.</p>
                        <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>

      </div>
      <!--/.Third slide-->

    </div>
    <!--/.Slides-->

  </div>
  <!--/.Carousel Wrapper-->

</div>

</div>


</body>
</html>