<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Paquetes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
  </head>
<body >
   
<div class="row" style="background-color:  rgba(241, 241, 241, 0.877)">
  <div class="col-lg-3">
      <form class="text-left border border-light p-5">
        <p><strong>PREFERENCIAS</strong></p>
          
          <div id="menu" style="background-color: white">
              <ul>
               <li><a href="#inicio" title="...">Mi Perfil</a></li>
               <li><a href="#transporte" title="...">Mis viajes</a></li>
               <li><a href="..." title="...">Mis publicaciones</a></li>
               <li><a href="..." title="...">Informacion</a></li>
               <li><a href="..." title="...">Pedidos</a></li>
               <li><a href="..." title="...">Pagos</a></li>
               <li><a href="..." title="...">Desactivar Usuarios</a></li>
               <li><a href="..." title="...">Configuraciones</a></li>
              </ul>
             </div>
      </form>
  </div>
  <div class="col-lg-9">
    <form class="text-left border border-light p-5">
      <div class="row">
          <div class="col-lg-4">
              <img src="../../assets/imagenes/talin@2x.png"width="100%" height="100%"  >
            </div>
          <div class="col-lg-8" style="background-color: white">
              <strong>
                  Nombre
              </strong>
              <p class="text-justify">
                  Richard Russell "Rick" Riordan (5 de junio de 1964) es un escritor estadounidense. Es más conocido por ser el autor de la saga Percy Jackson y los dioses del Olimpo. También escribió la serie de misterio dedicado para el público adulto Tres Navarres, y ayudó en la edición de Demigods and Monsters, una colección de ensayos sobre el tema de su serie Percy Jackson. Ayudó en el desarrollo de los diez libros de la serie The 39 Clues, escribiendo el primer libro de la serie, El laberinto de huesos.
              </p>
          </div>
      </div>
    </form>

    <div class="col-lg-12">
        
            <strong>MIS VIAJES</strong>
        
    </div>

    <form class="text-left border border-light p-5">

      <div class="row" style="background-color: white">
          <div class="col-lg-4">
              <div class="card" style="width: 18rem ;">
                  <h5 class="card-title">New York City Skyline Tour </h5>
                  <h5 class="card-title">The best of New York</h5>
                  <img class="card-img-top" src="../../assets/imagenes/torre.png" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Experience New York City like you never have before with a NYC sightseeing cruise. It’ll be an adventure you won’t soon forget! With Liberty Cruise NYC, you can tour New York Harbor and take in panoramic views of the top landmarks on your list.</p>
                    
                  </div>
                </div>
          </div>
          <div class="col-lg-4">
              <div class="card" style="width: 18rem;">
                  <h5 class="card-title">New York City &#9733;&#9733;&#9733;&#9733;</h5>
                  <h5 class="card-title">Walking tour</h5>
                  <img class="card-img-top" src="../../assets/imagenes/rieles.png" alt="Card image cap">
                  <div class="card-body">
                    
                    <p class="card-text">We offer so much more than just a Statue of Liberty cruise! Our popular New York Harbor cruise options give you an up-close view and fantastic photo opportunities of the most talked-about attractions.</p>
                    
                  </div>
                </div>
          </div>
          <div class="col-lg-4">
              <div class="card" style="width: 18rem;">
                  <h5 class="card-title">New York City &#9733;&#9733;&#9733;&#9733;</h5> 
                  <h5 class="card-title">The Food Tour</h5>
                  <img class="card-img-top" src="../../assets/imagenes/pan.png" alt="Card image cap">
                  <div class="card-body">
                
                    <p class="card-text">The Delaware Valley Purchasing Group is a member operated non-profit food service organization serving over 1,200 independently owned, credit worthy, food service establishments.</p>
                    
                  </div>
                </div>
          </div>
      </div>


    </form>

    <div class="col-lg-12">
        
        <strong>FORMA DE PAGO</strong>
    
    </div>

    <form class="text-left border border-light p-5">
        <div  class="row" style="background-color: white">
          
            <div class="col-lg-4">
                <img class="card-img-top" src="../../assets/imagenes/creditCard.png" alt="Card image cap"  >
                
            </div>
            <div class="col-lg-4">
                <img class="card-img-top" src="../../assets/imagenes/paypal.png" alt="Card image cap">
            </div>
            <div class="col-lg-4">
                <img class="card-img-top" src="../../assets/imagenes/logo_0028_amazon.png" alt="Card image cap">
            </div>
        </div>
    </form>
    <form class="text-left border border-light p-5">
      <div class="row" style="background-color: white">
        
        <div class="col-lg-6">
            <form class="text-left border border-light p-5">
                <P><strong>Billing Info</strong></P>
              
                <label for="defaultLoginFormFullName">FULL NAME</label>
                <input type="fullName" id="defaultLoginFormFullName" class="form-control mb-4" placeholder="Full Name">

                <label for="defaultLoginFormAddress">ADDRESS</label>
                <input type="Address" id="defaultLoginFormAdress" class="form-control mb-4" placeholder="Address">

                <label for="defaultLoginFormCity">CITY</label>
                <input type="city" id="defaultLoginFormCity" class="form-control mb-4" placeholder="City">

                <label for="defaultLoginFormZipCode">ZIP CODE</label>
                <input type="zipCode" id="defaultLoginFormZipCode" class="form-control mb-4" placeholder="Zip Code">

              
                <label for="inputCountry">COUNTRY</label>
                  <select id="inputCountry" class="form-control">
                    <option selected>Choose...</option>
                    <option>Ecuador</option>
                    <option>New York</option>
                    <option>Argentina</option>
                  </select>

            </form>
        </div>
        <div class="col-lg-6">
            <form class="text-left border border-light p-5">
                <P><strong>Credit Card Info</strong></P>

                <label for="defaultLoginFormCardNumber">CARD NUMBER</label>
                <input type="CardNumber" id="defaultLoginFormCardNumber" class="form-control mb-4" placeholder="xxxx xxxx xxxx xxxx">

                <label for="defaultLoginFormCardHolderName">CARDHOLDER NAME</label>
                <input type="CardHolderName" id="defaultLoginFormCardHolderName" class="form-control mb-4" placeholder="CardHolder Name">

                <label for="defaultLoginFormExpireDate">EXPIRE DATE</label>
                <input type="date" id="defaultLoginFormExpireDate" class="form-control mb-4" placeholder="">

                <label for="defaultLoginFormCvv">CVV</label>
                <input type="Cvv" id="defaultLoginFormCvv" class="form-control mb-4" placeholder="xxx">

                
            </form>
        </div>
      </div>
    </form>
  </div>
</div>


</body>
</html>