<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Paquetes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body >
   
      <div class="jumbotron card card-image">
        <div class="text-white text-center py-5 px-4">
          <div>
            <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"></h2>
        
            <div class="container">
                <div class="row">
                  <div class="col-6  w-25 p-3 font-weight-bold"style="color:#0B0B61" >Estados Unidos</div>
                  <div class="col-6 w-25 p-3 font-weight-bold" style="color:#0B0B61" >New York</div>
                  
                </div>
            </div>
              
        </div>
        </div>

      </div>
      <div>
      <div class=" row color-fondo">
        <div class=" ec-stars-wrapper col-xs-12 col-sm-6 col-md-3">
                <div class="text-center"> 
                    
                    <h5 cen style="color:#0B0B61"> <strong>Preferencias</strong> </h5>
                        <a style="color:#0B0B61" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a  style="color:#0B0B61"data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                        <a  style="color:#0B0B61"data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                        <a  style="color:#0B0B61"data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                        <a  style="color:#0B0B61"data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
                <ngb-accordion [closeOthers]="true" activeIds="static-1">
                     
                        <ngb-panel id="static-1" title="Lenguaje Hablado">
                            
                            
                          <ng-template ngbPanelContent>
                           
                          </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-2">
                          <ng-template ngbPanelTitle>
                            <span> <b>Tipo de Comida</b></span>
                          </ng-template>
                          <ng-template ngbPanelContent>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                            labore sustainable VHS.
                          </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-3" title="Excursiones">
                          <ng-template ngbPanelContent>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                            labore sustainable VHS.
                          </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-3" title="Tipo de Hotel">
                                <ng-template ngbPanelContent>
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                  labore sustainable VHS.
                                </ng-template>
                              </ngb-panel>
                            <ngb-panel id="static-3" title="Tipo de Habitación">
                                    <ng-template ngbPanelContent>
                                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                                      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                      labore sustainable VHS.
                                    </ng-template>
                                  </ngb-panel>
                                  <ngb-panel id="static-3" title="Alquiler de un auto">
                                        <ng-template ngbPanelContent>
                                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                                          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                          sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                          labore sustainable VHS.
                                        </ng-template>
                                      </ngb-panel>
                                      <ngb-panel id="static-3" title="Transporte Público">
                                            <ng-template ngbPanelContent>
                                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                                              aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                              sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                              craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                              occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                              labore sustainable VHS.
                                            </ng-template>
                                          </ngb-panel>
                      </ngb-accordion>
        
          </div>
        <div class=" col-xs-12 col-sm-6 col-md-3">
            
            <img src="../../assets/imagenes/Rectangle 441.png"width="340" height="340"  >
        </div>

        <div class="  color-decrip col-xs-12 col-sm-6 col-md-3">
            <p class="text-justify">
                La India es uno de los destinos más cautivantes del mundo. Las civilizaciones y la cultura india data de tiempos inmemorables, por los que existen muchos lugares antiguos que cautivan al visitante y los hacen remontarse a los primeros años de esta civilización. La India está dividida por regiones: el norte, el sur, el este, el oeste y las regiones centrales. Cada una de estas regiones tiene lugares que descubrir, por lo que es recomendable que pases una temporada en el país para que puedas descubrirlo en todo su esplendor.
            </p>
        </div>

        <div class=" color-precios col-xs-12 col-sm-6 col-md-3 ">
         <p class=" text-center font-weight-bold " style="color:#0B0B61">3500.00 por persona</p>
           
        </div>
    </div>

    <div class=" row color-fondo">
            <div class="col-xs-12 col-sm-6 col-md-3">
                
            </div>
    
            <div class=" col-xs-12 col-sm-6 col-md-3">
                <img src="../../assets/imagenes/montania.png"width="340" height="340"  >
            </div>
    
            <div class="  color-decrip col-xs-12 col-sm-6 col-md-3">
                <p class="text-justify">
                        Alpes suizos. Son famosos y una de las atracciones de Suiza, ocupan más del 70% del territorio y se distribuyen en los sectores centrales y meridionales, mientras que el Jura hace en el noroeste.Estas maravillas naturales son parte del mayor sistema montañoso de Europa y se reconocen por sus fantásticos picos con formas puntiagudas y sus grandes gargantas escarpadas.
                </p>
            </div>
    
            <div class=" color-precios col-xs-12 col-sm-6 col-md-3 ">
             <p class=" text-center font-weight-bold " style="color:#0B0B61">3500.00 por persona</p>
               
            </div>

         
        

    </div>

    <div class=" row color-fondo">
            <div class="col-xs-12 col-sm-6 col-md-3">
                
            </div>
    
            <div class=" col-xs-12 col-sm-6 col-md-3">
                <img src="../../assets/imagenes/isla.png"width="340" height="340"  >
            </div>
    
            <div class="  color-decrip col-xs-12 col-sm-6 col-md-3">
                <p class="text-justify">
                        Las Islas del Caribe es un enorme archipiélago situado en el mar Caribe, que se puede subdividir en unas pocas regiones diferentes: el archipiélago Lucayan, las grandes Antillas, pequeñas Antillas y las islas ABC. Hay 13 Estados soberanos y 17 territorios dependientes del Caribe, y los idiomas predominantes son el criollo inglés, español, Francés, holandés y antillano. El Caribe se extiende a través de más de 1,06 millones de millas cuadradas y está principalmente situado entre América del norte y América del sur.
                </p>
            </div>
    
            <div class=" color-precios col-xs-12 col-sm-6 col-md-3 ">
             <p class=" text-center font-weight-bold " style="color:#0B0B61">3500.00 por persona</p>
               
            </div>
    </div>
    <div class=" row color-fondo">
            <div class="col-xs-12 col-sm-6 col-md-3">
                
            </div>
    
            <div class="card" style="width: 18rem ;">
                    <h5 class="card-title">New York Skyline Tour </h5>&#9733;&#9733;&#9733;&#9733;
                    <img class="card-img-top" src="../../assets/imagenes/torre.png" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Book Now</a>
                    </div>
                  </div>
    
                  <div class="card" style="width: 18rem;">
                        <h5 class="card-title">New York City Walking tour</h5>&#9733;&#9733;&#9733;&#9733;
                        <img class="card-img-top" src="../../assets/imagenes/rieles.png" alt="Card image cap">
                        <div class="card-body">
                          
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Book Now</a>
                        </div>
                      </div>
    
                      <div class="card" style="width: 18rem;">
                            <h5 class="card-title">New York City The Food Tour</h5> &#9733;&#9733;&#9733;&#9733;
                            
                            <img class="card-img-top" src="../../assets/imagenes/pan.png" alt="Card image cap">
                            <div class="card-body">
                          
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Book Now</a>
                            </div>
                          </div>
    </div>
</div>


</body>
</html>