<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Paquetes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="fondo-pagina">
    <form class="text-left border border-light p-4">
    <div class=" jumbotron card card-image">
      <div align="center">
          <div class="backmenu col-md-10">
              <form>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="Origen">Origen</label>
                        <input type="text" class="form-control" id="Origen" placeholder="Quito" >
                      </div>
                      <div class="form-group col-md-6">
                          <label for="Destino">Destino</label>
                          <input type="text" class="form-control" id="Destino" placeholder="New York" >
                      </div>
                  </div>
                </form>      
          </div>
      </div>
      
        <div class="text-white text-center py-5 px-4">
          <div>
            <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"></h2>

            </div>
</div>
      
</div>
</form>
<form class="text-left border border-light p-5 ">
<div>
  <div class="row"  >
    <div class="col-lg-3">
      <form  class= "text-left border border-light p-5 "style=" background-color: white">
       <h5 style="text-align: center">Preferencias</h5>
       <div  align="center"class="star-rating ">
         
          <a href="#" style=" color: #f39c12">&#9733;</a>
          <a href="#" style=" color: #f39c12" >&#9733;</a>
          <a href="#" style=" color: #f39c12">&#9733;</a>
          <a href="#" style=" color: #f39c12">&#9733;</a>
          <a href="#" style=" color: #f39c12">&#9733;</a>
      </div>
          <form>

              <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Lenguaje Hablado
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <nav class="nav nav-pills flex-column">
                          <a class="nav-link ml-3 my-1" href="#item-1-1">Ingles</a>
                          <a class="nav-link ml-3 my-1" href="#item-1-2">Español</a>
                        </nav>
                  </ul>
                </div>
            
          </form>
<form>
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Tipo de  Comida
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3 my-1" href="#id=india">Tacos </a>
                <a class="nav-link ml-3 my-1" href="#item-1-2">Pizza</a>
                <a class="nav-link ml-3 my-1" href="#item-1-3"> Sushi</a>
          
              </nav>
        </ul>
      </div>
</form>

<form>
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Tipo de Excurciones
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3 my-1" href="#item-1-1">Extremas </a>
                <a class="nav-link ml-3 my-1" href="#item-1-2">Montaña</a>
                <a class="nav-link ml-3 my-1" href="#item-1-2"> Museos</a>
          
              </nav>
        </ul>
      </div>
</form>

<form>
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Tipo de Habitación
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3 my-1" href="#item-1-1">Individual </a>
                <a class="nav-link ml-3 my-1" href="#item-1-2">Doble</a>
                <a class="nav-link ml-3 my-1" href="#item-1-3">Suites</a>
          
              </nav>
        </ul>
      </div>
</form>

<form>
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Tipo de Transporte
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <div class="nav nav-pills flex-column">
                <a class="nav-link ml-3 my-1" href="#item-1-1">Carretera</a>
                <a class="nav-link ml-3 my-1" href="#item-1-2">Ferrocarril</a>
                <a class="nav-link ml-3 my-1" href="#item-1-3">Marítimo</a>
          
            </div>
        </ul>
      </div>

    </form>  
    
</form>

<div>
    <form class="text-left border border-light p-5"  style="background-color: white">

        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Destino
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link ml-3 my-1" href="paquetes#india">Europa</a>
                    <a class="nav-link ml-3 my-1" href="#item-1-1">Asia</a>
                    <a class="nav-link ml-3 my-1" href="#item-1-1">África</a>
                    <a class="nav-link ml-3 my-1" href="#item-1-1">Norteamérica</a>
                    <a class="nav-link ml-3 my-1" href="#item-1-1">Sudamérica</a>
                  </nav>
            </ul>
          </div>          
    </form>
</div>

<form class="text-left border border-light p-5" style="background-color: white">
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Tipo de Viaje
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3 my-1" href="#india">Carretera</a>
                <a class="nav-link ml-3 my-1" href="#item-1-2">Ferrocarril</a>
                <a class="nav-link ml-3 my-1" href="#item-1-3">Marítimo</a>
          
              </nav>
        </ul>
      </div>

    </form>  

    <form  class="text-left border border-light p-5 " style="background-color: white">
      
        <label class="checkbox-inline"><input type="checkbox" value="Primera">Primera Clase</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Business</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Coach</label>
          
          
          
    
      </form> 
      
      <form class="text-left border border-light p-5" style="background-color: white" >
          <label><input type="checkbox" id="cbox1" value="first_checkbox"> Sin equipaje de Mano</label><br>

          <input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">Con equipaje de mano</label>
      </form>
      
        <form class="text-left border border-light p-5" style="background-color: white">
            <p>Rango de Precios</p>
            <section class="range-slider">
              <span class="rangeValues"></span>
              <p>$20<input value="500" min="500" max="50000" step="500" type="range">
                <input value="50000" min="500" max="50000" step="500" type="range">$4000</p>
            </section>
        </form>
    </div>
    

  
    <div class="col-lg-9">
      
        <form class="text-left border border-light p-2">
              <div  class="row">
                  <div   class="col-lg-4"><a id="india"></a>
                      
                      <img src="../../assets/imagenes/Rectangle 441.png"width="100%" height="100%"  >
                    </div>
                  <div   class="col-lg-5"  style="background-color: white">
                    <h1>India</h1>
                      <p class="text-justify">
                          La India es uno de los destinos más cautivantes del mundo. Las civilizaciones y la cultura india data de tiempos inmemorables, por los que existen muchos lugares antiguos que cautivan al visitante y los hacen remontarse a los primeros años de esta civilización. La India está dividida por regiones: el norte, el sur, el este, el oeste y las regiones centrales. Cada una de estas regiones tiene lugares que descubrir, por lo que es recomendable que pases una temporada en el país para que puedas descubrirlo en todo su esplendor.
                      </p>
          
                  </div>
                  <div class="col-lg-2"  style="background-color:  #c2c2c2 ">
                      <p class=" text-center font-weight-bold  " style="color:#0B0B61">3500.00 por persona</p>
                  </div>
              </div>
        
          
      </form>

      <form class="text-left border border-light p-2">
          <div class="row">
              <div class="col-lg-4">
                  <img src="../../assets/imagenes/montania.png"width="100%" height="100%"  >
              </div>
              <div class="col-lg-5" style="background-color: white" >
                  <h1>Suiza</h1>
                <p class="text-justify" style="text-align: center">
                  Alpes suizos. Son famosos y una de las atracciones de Suiza, ocupan más del 70% del territorio y se distribuyen en los sectores centrales y meridionales, mientras que el Jura hace en el noroeste.Estas maravillas naturales son parte del mayor sistema montañoso de Europa y se reconocen por sus fantásticos picos con formas puntiagudas y sus grandes gargantas escarpadas.
                 </p>

      
              </div>
              <div class="col-lg-2" style="background-color:  #c2c2c2 ">
                  <p class=" text-center font-weight-bold " style="color:#0B0B61">3500.00 por persona</p>
              </div>
          </div>
      </form>

      <form class="text-left border border-light p-2">
        <div class="row">
            <div class="col-lg-4">
                <img src="../../assets/imagenes/isla.png"width="100%" height="100%"  >
            </div>
            <div class="col-lg-5" style="background-color: white">
                <h1 id="india"> Islas del Caribe</h1>
              <p class="text-justify">
                Las Islas del Caribe es un enorme archipiélago situado en el mar Caribe, que se puede subdividir en unas pocas regiones diferentes: el archipiélago Lucayan, las grandes Antillas, pequeñas Antillas y las islas ABC. Hay 13 Estados soberanos y 17 territorios dependientes del Caribe, y los idiomas predominantes son el criollo inglés, español, Francés, holandés y antillano. El Caribe se extiende a través de más de 1,06 millones de millas cuadradas y está principalmente situado entre América del norte y América del sur.
        </p>

    
            </div>
            <div class="col-lg-2" style="background-color: #c2c2c2">
                <p class=" text-center font-weight-bold "  style="color:#0B0B61">3500.00 por persona</p>
            </div>
        </div>
    </form>

    <form class="text-left border border-light p-2">
   
      <div class="row">
        <div class="col-lg-4">
          <form>
              <div  id="Sk" class="card" style="width: 18rem ;">
                  <h5 class="card-title">New York Skyline Tour </h5>
                  <div class="star-rating ">
                      <a href="#" style=" color: #f39c12">&#9733;</a>
                      <a href="#" style=" color: #f39c12" >&#9733;</a>
                      <a href="#" style=" color: #f39c12">&#9733;</a>
                      <a href="#" style=" color: #f39c12">&#9733;</a>
                      <a href="#" style=" color: #f39c12">&#9733;</a>
                  </div>
                  <img class="card-img-top" src="../../assets/imagenes/torre.png" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button class="btn btn-primary" routerLink="/compra" >Book Now</button>
                  </div>
                </div>

          </form>


        </div>

        <div class="col-lg-4">
            <form>
                
                <div class="card" style="width: 18rem;">
                  
                    <h5 class="card-title">New York City Walking tour</h5>
                    <div class="star-rating ">
                        <a href="#" style=" color: #f39c12">&#9733;</a>
                        <a href="#" style=" color: #f39c12" >&#9733;</a>
                        <a href="#" style=" color: #f39c12">&#9733;</a>
                        <a href="#" style=" color: #f39c12">&#9733;</a>
                        <a href="#" style=" color: #f39c12">&#9733;</a>
                    </div>
                    <img class="card-img-top" src="../../assets/imagenes/rieles.png" alt="Card image cap">
                    <div class="card-body">
                      
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <button class="btn btn-primary" routerLink="/compra" >Book Now</button>
                    </div>
                  </div>

            </form>
  
  
          </div>

          <div class="col-lg-4">
              <form>
                  
                  <div class="card" style="width: 18rem;">
                      <h5 class="card-title">New York City The Food Tour</h5> 
                      <div class="star-rating ">
                          <a href="#" style=" color: #f39c12">&#9733;</a>
                          <a href="#" style=" color: #f39c12" >&#9733;</a>
                          <a href="#" style=" color: #f39c12">&#9733;</a>
                          <a href="#" style=" color: #f39c12">&#9733;</a>
                          <a href="#" style=" color: #f39c12">&#9733;</a>
                      </div>
                      
                      <img class="card-img-top" src="../../assets/imagenes/pan.png" alt="Card image cap">
                      <div class="card-body">
                    
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button class="btn btn-primary" routerLink="/compra" >Book Now</button>
                  
                      </div>
                    </div>

  
              </form>
    
    
            </div>
      </div>

  </form>

 

  </div>

  
</div>
</div>
</form>
</body>
</html>