<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg  navbar-dark" style="background-color: #023B59">
    <a class="navbar-brand" routerLink="">
        <img src="https://cdn0.iconfinder.com/data/icons/commerce-and-retail/512/airplane_plane_fly_aircraft_air_ship_jet_delivery_transportation_travel_flight_shipping_fast_transport_speed_tourism_flat_design_icon-512.png" height="30" alt="">
        ALLIN1
    </a>
    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent"  [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="paquetes">PAQUETES <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="transporte">TRANSPORTE</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="compra">COMPRA</a>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link">

                <form>

                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" style="color: white">
                            Mi Perfil&nbsp;&nbsp;&nbsp;<i class="fa fa-user"></i>
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <nav class="nav nav-pills flex-column">
                              <li *ngIf="!isLogin">
                                  <a class="nav-link ml-3 my-1" routerLink="login" style="color: black">Login</a>
                              
                                <a class="nav-link ml-3 my-1" routerLink="registro" style="color: black">Regristrarte</a>
                              </li>
                              <li *ngIf="isLogin">
                                  <a class="nav-link ml-3 my-1"  routerLink="perfil" style="color: black" >Perfil</a>
                                  <a class="nav-link ml-3 my-1"  routerLink="" style="color: black" (click)="onClickLogout()">Logout</a>
                              </li>  
                              </nav>
                        </ul>
                      </div>
                  
                </form>
              
            </a>
          </li>
        </ul>
      </form>
    </div>
  </nav>
