<!-- Footer -->
<footer class="page-footer font-small  pt-4 " style="background-color: #023B59">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mx-auto">

          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">All in 1</h5>
          <p style="text-align: justify">Ponemos el mundo a tus pies para que conquistes todos los destinos soñados, tu ocúpate de las maletas y nosotros de organizarlo todo.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Restaurantes</h5>

          <ul class="list-unstyled">
            <li>
              <a href="https://www.tripadvisor.co/Restaurants-g294308-zfp58-Quito_Pichincha_Province.html">Tripadvisor</a>
            </li>
            <li>
              <a href="http://morterodepiedra.com/restaurantes-quito-buenos-baratos/">Mortero de Piedra</a>
            </li>
            <li>
              <a href="https://www.jumeirah.com/en/hotels-resorts/dubai/burj-al-arab/restaurant-at-burj-al-arab/sahn-eddar/">Sahn Eddar</a>
            </li>
     
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Aerolineas</h5>

          <ul class="list-unstyled">
            <li>
              <a href="https://www.united.com/es/ec/">United</a>
            </li>
            <li>
              <a href="https://www.aa.com/homePage.do?locale=es_EC">American Airlines</a>
            </li>
            <li>
              <a href="https://www.aa.com/homePage.do?locale=es_EC">Latan</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Autos</h5>

          <ul class="list-unstyled">
            <li>
              <a href="https://www.fastcar.com.ec/">FastCar</a>
            </li>
            <li>
              <a href="https://www.expedia.com/es/Renta-De-Autos-En-Quito.d6053672.Ofertas-en-renta-de-autos">Expedia</a>
            </li>
            <li>
              <a href="https://www.avis.com/es/locations/ec/quito/qt2">AVIS</a>
            </li>

          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
          <button href="#!" type="button" class="btn btn-danger" rounded="true" mdbWavesEffect>Sign up!</button>
      </li>
    </ul>
    <!-- Call to action -->

    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
            <a href="#" class="fa fa-facebook"></a>
        </a>
      </li>
      <li class="list-inline-item">
        <a mdbBtn floating="true" color="tw" class="mx-1" mdbWavesEffect>
            <a href="#" class="fa fa-twitter"></a>
        </a>
      </li>
      <li class="list-inline-item">
        <a mdbBtn floating="true" color="gplus" class="mx-1" mdbWavesEffect>
            <a href="#" class="fa fa-google"></a>
        </a>
      </li>
      <li class="list-inline-item">
        <a mdbBtn floating="true" color="li" class="mx-1" mdbWavesEffect>
            <a href="#" class="fa fa-linkedin"></a>
        </a>
      </li>
      <li class="list-inline-item">
        <a mdbBtn floating="true" color="dribbble" class="mx-1" mdbWavesEffect>
          <a href="#" class="fa fa-instagram"></a>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href=""> allinonetravel.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
