<!--
<div class="container color-dark">
    <div class="col">
        <p>Add bucket list iteam</p>
    </div>
    <div class="col">
        <p>Your bucket list</p>
    </div>
</div>
<div class="container color-light">
    <div class="col">
        <p class="sm">Use this form below to add a new bucket list goal. What do you want to do in your life?</p>
        <form action="">
            <input type="text" class="txt" name="item" placeholder="Life goal..">
            <input type="submit" class="btn" value="Add Item">
        </form>
    </div>
    <div class="col">
        <p class="life-container">I want to climb a mountain</p>
    </div>
</div>
-->

    <div id="fh5co-wrapper">
            <div id="fh5co-page">
                <div class="fh5co-hero">
                    <div class="fh5co-overlay"></div>
                    <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(assets/imagenes/playa.png);">
	
                        <div class="desc">
                            <div class="container">
                                <div class="row">
                                        <div class="col-sm-5 col-md-5">
                                        </div>
                                </div>   
                            </div>
                        </div>
                </div>
                
            </div>
    </div>
